@media (max-width: 767px) {
    #service_products .product {
        height: 200px;
    }
}


h6 {
    font-family: Bonky Serif;
    font-size: 18px;
    line-height: 18px;
    width: 90%;
    font-weight: normal;
    padding-bottom: 5px;
    color: black;
}