.products-section {
    padding: 120px 100px;
}

.header nav #menu-button span:nth-child(1) {
    background-color: #000;
}

.header nav #menu-button span:nth-child(2) {
    background-color: #000;
}

.header nav #menu-button span:nth-child(3) {
    background-color: #000;
}