<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Description, Keywords and Author -->

<meta name="description" content="UX designer and web developer">
<meta name="author" content="">

<!-- ICON -->

<link rel="shortcut icon" href="{% static 'images/Kadell.png' %}" type="image/x-icon">

<!-- ICON -->

<!-- title -->

<title>Kadell</title>

<!-- title -->

<!-- Main style -->

<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

<!-- Main style -->

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen" >
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" media="screen" >
<link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" media="screen" >
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="screen" >
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="screen" >

<!--  add color theme -->

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/skins/default.css' %}" data-name="skins">

<!--  add color theme -->

<!-- fonts -->

<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<script src="https://kit.fontawesome.com/5eb877632e.js" crossorigin="anonymous"></script>

<!-- fonts -->

</head>

<!--/head-->

<body>

<!--.preloader-->

<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>

<!--/.preloader-->

<!-- // header Start // -->

<header class="home header">

  <!--// navbar //-->

  <div class="navbar  navbar-static-top">
    <div class="container">

      <!-- Logo --> <h1> <a href="{% url 'home' %}" title="Kadell" > <img src="{% static 'images/Kadell.png' %}" alt="" title="Kadell" class="logo"/> <img src="{% static 'images/Kadell.png' %}" alt="" title="Kadell" class="logo_hove"/> </a> </h1>

      <!-- Logo -->

      <!-- nav -->

      <nav class=" col-md-10 col-sm-10 nav navy">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'place' %}">Location</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>

      <!-- nav -->

    </div>
  </div>

  <!--// navbar //-->

  <!-- // banner Inner //-->

  <div class="header_inner_banner">
    <figure> <img src="{{ service.banner.url }}" alt="" style="height:100%; top:0;"/> </figure>
  </div>

  <!-- // banner Inner //-->

</header>

<!-- // header End // -->

<div class="container">
  <div class="row">
    <div class="services-text">
      <div class="col-lg-12 col-md-8 col-sm-6">
        <br>
        <article>
          <h2>{{ service.title }}</h2>
          <br>
          <p>{{ service.body }}</p>
        </article>
        <br>
        <br>
        <div class="advgb-column-inner" style="border-style:none;border-width:1px">
          <h2 class="has-text-align-center service-line-header">{{ service.title }} services</h2>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="row" align="center">
            <div id="service_products" class="col-lg-12 col-xs-12" style="padding-left: 0px;">
            {% for product in service_products %}
              <div class="product col-lg-6 col-md-4 col-xs-6" style="padding-left: 0px;">
                <div class="row">
                  <div class="col-lg-5">
                    <h6>{{ product.title }}</h6>
                    <br>
                    <p> SAR {{ product.prices }}</p>
                  </div>

                  <div class="col-lg-2"></div>

                  <div class="col-lg-5">
                    <a href="{% url 'add_to_cart' product.id %}" class="service-products-btn">add to cart</a>
                  </div>
                </div>
                <hr>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <div class="clearfix"></div>

<!-- Let's start a project  -->

<div class="letsproject-pan"> <a href="{% url 'contact' %}">Let's start our journey </a> </div>

<!-- Let's start a project  -->

<!--// footer //-->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div  class="col-md-5 col-sm-6">
        <address>
        <figure><img src="{% static 'images/Kadell.png' %}" alt="" title="Kadell"/></figure>
        Yaqoot St, Ash Shati Ash Sharqi, Dammam, Saudi Arabia.<br/>
         <a href="wecare@kadell-sa.com" target="_blank">wecare@kadell-sa.com</a>
        </address>
      </div>
      <div  class="col-md-2 col-sm-3 col-xs-6">
        <ul>
          <li><a href="{% url 'about' %}" title="About us">About us</a></li>
          <li><a href="{% url 'services' %}" title="Services">Services</a></li>
          <li><a href="{% url 'blog' %}" title="Blog">Blog</a></li>
          <li><a href="{% url 'contact' %}" title="Contact">Contact</a></li>
          <li><a href="{% url 'place' %}" title="Place">Place</a></li>
        </ul>
      </div>
      <div  class="col-md-3 col-sm-3 col-xs-6">
        <ul class="socil-icon-one">
          <li><a href="https://www.facebook.com/kadell.sa" title="Facebook">Facebook</a></li>
          <li><a href="https://www.instagram.com/kadell.sa/" title="Instagram">Instagram</a></li>
          <li><a href="https://www.tiktok.com/@kadell.sa" title="Tiktok">Tiktok</a></li>
          <li><a href="https://twitter.com/kadellsa?s=11&t=MMzJyS2kdEwYE_2MkIApOg" title="Twitter">Twitter</a></li>
        </ul>
      </div>
      <br>
      <p>&copy; 2022 Kadell.com. All Rights Reserved.</p>
      <br>
      <br>
      <div class="container">
      <img src="{% static 'images/tamara-logo.png' %}" width="10%" height="10%">
        <br>
      <img src="{% static 'images/Tamara_Logo-EN.png' %}" width="10%" height="10%">
      </div>
    </div>
  </div>
</footer>

<!--// footer //-->

<!-- Javascript File  -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!--for header jquery-->

<script src="{% static 'js/jquery.superslides.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tinydropdown.js' %}"></script>
<script type="text/javascript">

    var dropdown=new TINY.dropdown.init("dropdown", {id:'menu', active:'menuhover'});

    </script>

<!--for header jquery-->

<script type="text/javascript" src="{% static 'js/jquery.imageScroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/countto.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
<script type="text/javascript" src="{% static 'js/back-to-top.js' %}"></script>



</body>
</html>
